@model RoleTopMVC.ViewModels.DashboardViewModel
<main>
<div class="meio">
    <h2>Dashboard</h2>

    <section id="status-pedidos">
        <h3>Status</h3>
        <div id="painel">
            <div class="box-status-pedidos aprovados">
                <h4>Aprovados</h4>
                <p>@Model.ReservasAprovados</p>
            </div>
            <div class="box-status-pedidos pendentes">
                <h4>Pendentes</h4>
                <p>@Model.ReservasPendentes</p>
            </div>
            <div class="box-status-pedidos reprovados">
                <h4>Reprovados</h4>
                <p>@Model.ReservasReprovados</p>
            </div>
        </div>
    </section>

    <section id="lista-pedidos">
        <h3>Lista de pedidos</h3>
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Nome</th>
                    <th rowspan="2">Evento</th>
                    <th rowspan="2">Data</th>
                    <th colspan="2" rowspan="2">Aprovar</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <p>Pedidos atualizados em @DateTime.Now</p>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @foreach(var reserva in Model.Reservas )
                {
                <tr>
                    <td>@reserva.Cliente.Nome</td>
                    <td>@reserva.Evento.Nome</td>
                    <td>30/02/2020</td>
                    <td><a href='@Url.Action("Aprovar", "Reserva", new {id = @reserva.Id})'><i class="fas fa-check"></i></a></td>
                    <td><a href='@Url.Action("Reprovar", "Reserva", new {id = @reserva.Id})'><i class="fas fa-times"></i></a></td>
                </tr>
                }
                
            </tbody>
        </table>
    </section>
</div>
</main>